<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Hands-on Lab: API Examples
## Random User and Fruityvice API Examples


Estimated time needed: **30** minutes

## Objectives

After completing this lab you will be able to:

*   Load and use RandomUser API, using `RandomUser()` Python library
*   Load and use Fruityvice API, using `requests` Python library
*   Load and use Open-Joke-API, using `requests` Python library

The purpose of this notebook is to provide more examples on how to use simple APIs. As you have already learned from previous videos and notebooks, API stands for Application Programming Interface and is a software intermediary that allows two applications to talk to each other. 

The advantages of using APIs:
 *   **Automation**. Less human effort is required and workflows can be easily updated to become faster and more      
     productive.
 *   **Efficiency**. It allows to use the capabilities of one of the already developed APIs than to try to 
     independently implement some functionality from scratch.
 
The disadvantage of using APIs:
 *   **Security**. If the API is poorly integrated, it means it will be vulnerable to attacks, resulting in data breeches or losses having financial or reputation implications.

One of the applications we will use in this notebook is Random User Generator. RandomUser is an open-source, free API providing developers with randomly generated users to be used as placeholders for testing purposes. This makes the tool similar to Lorem Ipsum, but is a placeholder for people instead of text. The API can return multiple results, as well as specify generated user details such as gender, email, image, username, address, title, first and last name, and more. More information on [RandomUser](https://randomuser.me/documentation#intro) can be found here.

Another example of simple API we will use in this notebook is Fruityvice application. The Fruityvice API web service which provides data for all kinds of fruit! You can use Fruityvice to find out interesting information about fruit and educate yourself. The web service is completely free to use and contribute to.

## Example 1: RandomUser API
Bellow are Get Methods parameters that we can generate. For more information on the parameters, please visit this [documentation](https://randomuser.me/documentation) page.

## **Get Methods**

- get_cell()
- get_city()
- get_dob()
- get_email()
- get_first_name()
- get_full_name()
- get_gender()
- get_id()
- get_id_number()
- get_id_type()
- get_info()
- get_last_name()
- get_login_md5()
- get_login_salt()
- get_login_sha1()
- get_login_sha256()
- get_nat()
- get_password()
- get_phone()
- get_picture()
- get_postcode()
- get_registered()
- get_state()
- get_street()
- get_username()
- get_zipcode()

To start using the API you can install the `randomuser` library running the `pip install` command.

In [1]:
!pip install randomuser
!pip install pandas

Collecting randomuser
  Downloading randomuser-1.6.tar.gz (5.0 kB)
  Preparing metadata (setup.py) ... one
Building wheels for collected packages: randomuser
  Building wheel for randomuser (setup.py) ... one
  Created wheel for randomuser: filename=randomuser-1.6-py3-none-any.whl size=5104 sha256=30844e97ce1b69d1b60799fa20aedd743425e12f1c40a83f1da3589e01c3df40
  Stored in directory: /home/jupyterlab/.cache/pip/wheels/be/62/c8/71e1b48f4758ea5b78af7595d87178f628cde315a3326610ee
Successfully built randomuser
Installing collected packages: randomuser
Successfully installed randomuser-1.6
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 92.9 MB/s eta 0:00:00
Downloading numpy-2.2.4-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (16.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.1/16.1 MB 134.3 MB/s eta 0:00:00
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.4 pandas-2.2.3 tzdata-2025.2

Then, we will load the necessary libraries.

In [2]:
from randomuser import RandomUser
import pandas as pd

First, we will create a random user object, r.

In [3]:
r = RandomUser()

Then, using `generate_users()` function, we get a list of random 10 users.

In [4]:
some_list = r.generate_users(10)

In [5]:
some_list

[<randomuser.RandomUser at 0x7f58be577bc0>,
 <randomuser.RandomUser at 0x7f58be577bf0>,
 <randomuser.RandomUser at 0x7f58be577c20>,
 <randomuser.RandomUser at 0x7f58be577c50>,
 <randomuser.RandomUser at 0x7f58be577c80>,
 <randomuser.RandomUser at 0x7f58be577cb0>,
 <randomuser.RandomUser at 0x7f58be577ce0>,
 <randomuser.RandomUser at 0x7f58be577d10>,
 <randomuser.RandomUser at 0x7f58be577d40>,
 <randomuser.RandomUser at 0x7f58be577d70>]

The **"Get Methods"** functions mentioned at the beginning of this notebook, can generate the required parameters to construct a dataset. For example, to get full name, we call `get_full_name()` function.

In [8]:
name = r.get_full_name()
name

'Jessie Stewart'

Let's say we only need 10 users with full names and their email addresses. We can write a "for-loop" to print these 10 users.

In [7]:
for user in some_list:
    print (user.get_full_name()," ",user.get_email())

Molly Bishop   molly.bishop@example.com
Maddison Clarke   maddison.clarke@example.com
Fiona Muller   fiona.muller@example.com
Mustafa Sadıklar   mustafa.sadiklar@example.com
Antonio Freeman   antonio.freeman@example.com
Rosa Olsen   rosa.olsen@example.com
Dorota Friesen   dorota.friesen@example.com
Christa Blau   christa.blau@example.com
شایان کوتی   shyn.khwty@example.com
Jennifer Boyd   jennifer.boyd@example.com

## Exercise 1
In this Exercise, generate photos of the random 10 users.

In [9]:
## Write your code here
for user in some_list:
    print(user.get_picture())

https://randomuser.me/api/portraits/women/13.jpg
https://randomuser.me/api/portraits/women/33.jpg
https://randomuser.me/api/portraits/women/9.jpg
https://randomuser.me/api/portraits/men/44.jpg
https://randomuser.me/api/portraits/men/68.jpg
https://randomuser.me/api/portraits/women/14.jpg
https://randomuser.me/api/portraits/women/58.jpg
https://randomuser.me/api/portraits/women/32.jpg
https://randomuser.me/api/portraits/men/75.jpg
https://randomuser.me/api/portraits/women/25.jpg

<details><summary>Click here for the solution</summary>

```python
for user in some_list:
    print (user.get_picture())
```

</details>

To generate a table with information about the users, we can write a function containing all desirable parameters. For example, name, gender, city, etc. The parameters will depend on the requirements of the test to be performed. We call the Get Methods, listed at the beginning of this notebook. Then, we return pandas dataframe with the users.

In [10]:
def get_users():
    users =[]
     
    for user in RandomUser.generate_users(10):
        users.append({"Name":user.get_full_name(),"Gender":user.get_gender(),"City":user.get_city(),"State":user.get_state(),"Email":user.get_email(), "DOB":user.get_dob(),"Picture":user.get_picture()})
      
    return pd.DataFrame(users)

In [11]:
df1 = pd.DataFrame(get_users())

In [12]:
df1

,Name,Gender,City,State,Email,DOB,Picture
0,Shane Scott,male,Dungarvan,Laois,shane.scott@example.com,1981-03-31T02:02:59.654Z,https://randomuser.me/api/portraits/men/52.jpg
1,Hermine Fournier,female,Stadel,Zug,hermine.fournier@example.com,1977-05-22T00:31:16.527Z,https://randomuser.me/api/portraits/women/39.jpg
2,Mercedes Holl,female,Brilon,Nordrhein-Westfalen,mercedes.holl@example.com,1988-03-06T20:00:59.078Z,https://randomuser.me/api/portraits/women/53.jpg
3,Mees Logtenberg,male,Dongeradeel,Utrecht,mees.logtenberg@example.com,1998-05-03T08:43:04.824Z,https://randomuser.me/api/portraits/men/61.jpg
4,Jordi Santana,male,Córdoba,Islas Baleares,jordi.santana@example.com,1981-08-21T13:47:05.904Z,https://randomuser.me/api/portraits/men/36.jpg
5,Niklas Arnevik,male,Gol,Sogn og Fjordane,niklas.arnevik@example.com,1957-05-16T02:03:33.016Z,https://randomuser.me/api/portraits/men/62.jpg
6,Emmy Naustdal,female,Straumen,Troms - Romsa,emmy.naustdal@example.com,1963-06-13T06:55:26.717Z,https://randomuser.me/api/portraits/women/47.jpg
7,Josefine Nielsen,female,Odense Sv,Midtjylland,josefine.nielsen@example.com,1959-11-05T00:25:09.132Z,https://randomuser.me/api/portraits/women/95.jpg
8,Byron Price,male,Sunshine Coast,New South Wales,byron.price@example.com,1965-09-19T07:11:25.996Z,https://randomuser.me/api/portraits/men/63.jpg
9,Radboud Eenink,male,Gelderingen,Drenthe,radboud.eenink@example.com,1946-03-03T17:59:16.461Z,https://randomuser.me/api/portraits/men/92.jpg

Now we have a *pandas* dataframe that can be used for any testing purposes that the tester might have.

## Example 2: Fruityvice API

Another, more common way to use APIs, is through `requests` library. The next lab, Requests and HTTP, will contain more information about requests.

We will start by importing all required libraries.

In [13]:
import requests
import json

We will obtain the [fruityvice](https://www.fruityvice.com) API data using `requests.get("url")` function. The data is in a json format.

In [16]:
data = requests.get("https://web.archive.org/web/20240929211114/https://fruityvice.com/api/fruit/all")
data

We will retrieve results using `json.loads()` function.

In [19]:
results = json.loads(data.text)
results[:1]

[{'name': 'Persimmon',
  'id': 52,
  'family': 'Ebenaceae',
  'order': 'Rosales',
  'genus': 'Diospyros',
  'nutritions': {'calories': 81,
   'fat': 0.0,
   'sugar': 18.0,
   'carbohydrates': 18.0,
   'protein': 0.0}}]

We will convert our json data into *pandas* data frame.

In [21]:
pd.DataFrame(results)[:2]

,name,id,family,order,genus,nutritions
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,"{'calories': 81, 'fat': 0.0, 'sugar': 18.0, 'c..."
1,Strawberry,3,Rosaceae,Rosales,Fragaria,"{'calories': 29, 'fat': 0.4, 'sugar': 5.4, 'ca..."

The result is in a nested json format. The 'nutrition' column contains multiple subcolumns, so the data needs to be 'flattened' or normalized.

In [23]:
df2 = pd.json_normalize(results)

In [27]:
df2[:3]

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.0,18.0,18.0,0.0
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.4,5.4,5.5,0.8
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.2,17.2,22.0,1.0

Let's see if we can extract some information from this dataframe. Perhaps, we need to know the family and genus of a cherry.

In [25]:
cherry = df2.loc[df2["name"] == 'Cherry']
(cherry.iloc[0]['family']) , (cherry.iloc[0]['genus'])

('Rosaceae', 'Prunus')

## Exercise 2
In this Exercise, find out how many calories are contained in a banana.

In [34]:
# Write your code here
banana = df2.loc[df2['name'] == 'Banana']
calories = banana.iloc[0]['nutritions.calories']
calories

np.int64(96)

<details><summary>Click here for the solution</summary>

```python
cal_banana = df2.loc[df2["name"] == 'Banana']
cal_banana.iloc[0]['nutritions.calories']
```

</details>

## Exercise 3

This [page](https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/) contains a list of free public APIs for you to practice. Let us deal with the following example.

#### Official Joke API 
This API returns random jokes from a database. The following URL can be used to retrieve 10 random jokes.

https://official-joke-api.appspot.com/jokes/ten

1. Using `requests.get("url")` function, load the data from the URL.

In [35]:
# Write your code here
request = requests.get('https://official-joke-api.appspot.com/jokes/ten')

<details><summary>Click here for the solution</summary>

```python
data2 = requests.get("https://official-joke-api.appspot.com/jokes/ten")
```

</details>

2. Retrieve results using `json.loads()` function.

In [40]:
# Write your code here
results = json.loads(request.content)
results

[{'type': 'general',
  'setup': 'Why do scuba divers fall backwards into the water?',
  'punchline': 'Because if they fell forwards they’d still be in the boat.',
  'id': 351},
 {'type': 'programming',
  'setup': 'Why did the programmer go to art school?',
  'punchline': 'He wanted to learn how to code outside the box.',
  'id': 414},
 {'type': 'general',
  'setup': 'Why did the house go to the doctor?',
  'punchline': 'It was having window panes.',
  'id': 326},
 {'type': 'general',
  'setup': 'What do you get hanging from Apple trees?',
  'punchline': 'Sore arms.',
  'id': 228},
 {'type': 'general',
  'setup': 'Why did the cookie cry?',
  'punchline': 'It was feeling crumby.',
  'id': 321},
 {'type': 'general',
  'setup': "What's a computer's favorite snack?",
  'punchline': 'Microchips.',
  'id': 423},
 {'type': 'general',
  'setup': 'What did the beaver say to the tree?',
  'punchline': "It's been nice gnawing you.",
  'id': 166},
 {'type': 'general',
  'setup': 'When does a joke become a dad joke?',
  'punchline': 'When it becomes apparent.',
  'id': 281},
 {'type': 'general',
  'setup': "You see, mountains aren't just funny.",
  'punchline': 'They are hill areas.',
  'id': 400},
 {'type': 'programming',
  'setup': 'Why would a guitarist become a good programmer?',
  'punchline': "He's adept at riffing in C#.",
  'id': 14}]

<details><summary>Click here for the solution</summary>

```python
results2 = json.loads(data2.text)
```

</details>

3. Convert json data into *pandas* data frame. Drop the type and id columns.

In [42]:
# Write your code here
df2 = pd.DataFrame(results)
df2 = df2.drop(columns=['type', 'id'])
df2

,setup,punchline
0,Why do scuba divers fall backwards into the wa...,Because if they fell forwards they’d still be ...
1,Why did the programmer go to art school?,He wanted to learn how to code outside the box.
2,Why did the house go to the doctor?,It was having window panes.
3,What do you get hanging from Apple trees?,Sore arms.
4,Why did the cookie cry?,It was feeling crumby.
5,What's a computer's favorite snack?,Microchips.
6,What did the beaver say to the tree?,It's been nice gnawing you.
7,When does a joke become a dad joke?,When it becomes apparent.
8,"You see, mountains aren't just funny.",They are hill areas.
9,Why would a guitarist become a good programmer?,He's adept at riffing in C#.

<details><summary>Click here for the solution</summary>

```python
df3 = pd.DataFrame(results2)
df3.drop(columns=["type","id"],inplace=True)
df3
```

</details>

# Congratulations! - You have completed the lab

## Author
<a href="https://www.linkedin.com/in/svitlana-kramar" target="_blank">Svitlana Kramar</a>

Svitlana is a master’s degree Data Science and Analytics student at University of Calgary, who enjoys travelling, learning new languages and cultures and loves spreading her passion for Data Science.

## Additional Contributor
<a href="https://www.linkedin.com/in/abhishek-gagneja-23051987/" target="_blank">Abhishek Gagneja</a>

Copyright © 2023 IBM Corporation. All rights reserved.